/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

* {
	border: 1px solid gray !important;
}

body {
	padding: 50px;
	width: 880px;
	margin: 0 auto;
}

/* divs */

nav {
	display: flex;
	justify-content: space-between;
}

nav .links {
    width: 80%;
    align-content: center;
}

header {
	display: flex;
	width: 100%;
    justify-content: center;
    align-items: center;
}

header div {
	padding: 50px 0;
}

footer {
	text-align: center;
	padding: 50px 0 100px 0;
}

/* classes */

.top {
	display: flex;
    justify-content: space-between;
    width: 100%;
}

.top div {
    width: 400px;
}

.top-image {
	padding-left: 100px;
}

.services-header-img {
	justify-content: center;
}

.contact-header-img {
	width: 100%;
}

.image {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 25px;
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.service {
	display: flex;
	flex-wrap: wrap;
	width: 350px;
	border: 1px solid black;
	background: whitesmoke;
	padding: 25px;
	margin-bottom: 20px;
}

.service button {
	border-radius: 5px;
	margin-top: 20px;
}

.contact {
	padding-left: 50px;
}

/* headers, button, links, hr */

h1 {
	font-size: 70px;
	text-align: center;
}

h2 {
	padding: 5px;
}

h4 {
	font-size: 30px;
}

button {
	font-size: 15px;
	border: 1px solid;
	padding: 5px 45px;
}

a {
	text-decoration: none;
	color: gray;
	padding: .5%;
}

hr {
	border: 1px solid;
	width: 90%;
	margin: 25px 0;
}

/* media queries */

@media (max-width: 800px) {
    nav {

    }

}

@media (max-width: 500px) {
    body {

    }

}